# env
#.env
#.env.*

# Logs and temporary files
*.log
*.tmp

# Docker volumes
**/postgres_data/
**/vault_data/
**/docker_volumes/
**/db_data/
**/data/
volume/
volumes/

# Django
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
media/
staticfiles/

