networks:
  trancendence-backend:
    name: trancendence-backend
    driver: bridge

services:
  web:
    build:
      context: ./django  # Directorio donde est치 el c칩digo de la app y el Dockerfile
      dockerfile: Dockerfile  # Nombre del Dockerfile en ese directorio
    container_name: django
    ports:
      - "8000:8000"
    volumes:
      - django_code:/app  
      - django_media:/app/media 
    networks:
      - trancendence-backend
    depends_on:
      - db
    env_file:
      - .env
    restart: on-failure
    environment:
      - DOCKER_BUILDKIT=1
  
  db:
    image: postgres:17
    container_name: postgres
    ports:
      - "5432:5432"
    networks:
      - trancendence-backend
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    restart: on-failure

  nginx:
    build:
      context: ./nginx  # Directorio donde est치 el c칩digo de la app y el Dockerfile
      dockerfile: Dockerfile  # Nombre del Dockerfile en ese directorio
    container_name: nginx
    ports:
      - "80:80"
    networks:
      - trancendence-backend
    volumes:
      - type: volume
        source: nginx_static
        target: /usr/share/nginx/html
        read_only: false
      - type: volume
        source: django_media
        target: /usr/share/nginx/html/media
        read_only: false
    depends_on:
      - web
    restart: on-failure
    user: "1000:1000"  # Asegura que se ejecute como usuario no root

volumes:
  postgres_data: 
  django_media:
  django_code:
  nginx_static:


