# Archivos de entorno
#.env
#.env.*

# Ignorar contenido de SSL excepto .gitkeep
nginx/ssl/*
!nginx/ssl/.gitkeep

# Ignorar contenido de logs excepto .gitkeep
django/logs/*
!django/logs/.gitkeep
srcs/django/logs/*
!srcs/django/logs/.gitkeep

