<div class="hero-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h1 class="display-4 fw-bold">¡Hola, <span id="username-placeholder"></span>!</h1>
                <div class="mt-4">
                    <div class="d-flex justify-content-center gap-3">
                        <a href="/game" data-link class="btn btn-primary btn-lg">
                            <i class="fas fa-gamepad me-2"></i>¡Jugar Ahora!
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
